#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.exchange-container {
  display: table;
  float: left;
  margin-bottom: 100px;
  margin-left: 5px;
  overflow: auto;
  padding-top: 10px;
  width: 100%;
}
.exchange-container table {
  width: 100%;
}
.exchange-controls-padding {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#table-exchange-folders th {
  height: 40px;
}
#table-exchange-items th {
  height: 40px;
}