.login-content {
  background-image: url('../images/login.jpg');
  background-repeat: repeat-x; /* Horizontal repeat */
  background-repeat: repeat-y; /* Vertical repeat */
  background-size: cover;
  bottom: auto !important;
  height: 100%;
  left: auto !important;
  position: absolute;
  right: auto !important;
  text-align: center;
  top: auto !important;
  width: 100%;
}

.form-top {
  background: #444444;
  background: rgba(0, 0, 0, 0.35);
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  padding: 0 25px 15px 25px;
  text-align: left;
}
.form-top-left {
  color: #fff;
  float: left;
  font-size: 66px;
  line-height: 100px;
  opacity: 0.8;
  padding-top: 5px;
  text-align: center;
  width: 15%;
}
.form-top-right {
  color: #fff;
  margin-left: 10px;
  padding-top: 25px;
  width: 85%;
}
.form-top-right h3 { 
  color: #ffffff;
  margin-top: 0;
}
.form-top-right p { 
  color: #ffffff; 
}

.form-bottom {
  background: #444444;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  padding: 25px 25px 30px 25px;
  text-align: center;
}
.form-bottom form textarea {
  height: 100px;
}
.form-bottom form input {
  padding-left: 35px;
}

input[type="text"], 
input[type="password"], 
textarea, textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #ffffff;
  border: 3px solid #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, textarea.form-control:focus {
  outline: 0;
  background: #ffffff;
  border: 3px solid #ffffff;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { 
  color: #888; 
}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #888; 
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #888; 
}

button.btn-login {
  background: #54b948;
  border: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
button.btn-login:hover { 
  color: #ffffff; 
  opacity: 0.6; 
}
button.btn-login:active { 
  color: #ffffff;
  opacity: 0.6;
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}
button.btn-login:focus { 
  background: #de615e; 
  color: #ffffff; 
  opacity: 0.6; 
  outline: 0; 
}