#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.onedrive-container {
  display: table;
  float: left;
  margin-bottom: 100px;
  margin-left: 5px;
  overflow: auto;
  padding-top: 10px;
  width: 100%;
}
.onedrive-container table {
  width: 100%;
}