.sharepoint-container {
  display: table;
  float: left;
  margin-bottom: 100px;
  margin-left: 5px;
  overflow: auto;
  padding-top: 10px;  
  width: 100%;
}
.sharepoint-container table {
  width: 100%;
}
.sharepoint-controls-padding {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#table-sharepoint-folders th {
  height: 40px;
}
#table-sharepoint-items th {
  height: 40px;
}