body {
  font: 13px/19px Arial, Helvetica, sans-serif;
  padding: 0px !important;  
}
h1 {
  min-height: 1rem;
  font-size: 30px;
}
h1, h2, h3, h4, h5 {
  color: #000000;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

#logout {
  margin-right: 25px;
}
#main {
  background: #fcfeff;
  color: #000000;
  height: 100%;
  left: 210px;
  overflow: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  right: 0;
  position: fixed;
  top: 50px;
}

#sidebar {
  background: #222;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 50px;
  width: 210px;
}
#sidebar,
#sidebar a {
  color: #ABB4BE;
}
#sidebar .logo-container {
  cursor: pointer;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  margin: 20px 0 0 0;
  text-align: center;
}
#sidebar .logo-container .logo {
  border: 2px solid #61C7B3;
  border-radius: 100px;
  color: #4CAF50;
  font-size: 25px;
  position: relative;
  padding: 10px;
  text-indent: 1px;
}
#sidebar .menu-segment {
  padding-left: 5px;
  text-align: center;
  word-wrap: break-word;
}
#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  cursor: pointer;
  list-style: none;
  margin: 10px;
  padding: 3px;
  text-align: left;
}
#sidebar .menu-segment li a {
  display: block;
  margin: 0;
  padding: 10px 10px 10px 10px;
}
#sidebar .menu-segment li.active a,
#sidebar .menu-segment li.active a:hover {
  background: #282d36;
}
#sidebar .menu-segment li a:hover {
  background: #21262d;
}
#sidebar .separator {
  background: #2D3138;
  height: 1px;
  margin: 10px 15px;
}
#sidebar .bottom-padding {
  height: 100px;
}

/* Navigation */
.navbar {
  overflow: hidden!important;
  margin-bottom:0px !important;
  position: static;
}
.navbar-inner {
  border-radius: 0px !important;   
}
a.navbar-logo {
  width: 210px;
}
a.navbar-logo:hover {
  text-decoration: none;
}
img.logo {
  height: 100%;
  width: auto;
}
a.navbar-right: {
  margin-right: 10px;
}
textarea.noresize {
  resize: none; 
}

/* Search Form */
.search {
  background: url("../images/search.png") no-repeat left;
  background-size: 15px;
  background-position: 13px;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 35px;
  outline: none;
}
.search:focus {
  padding-left: 35px;
}

/* Caret style */
.caret {
  position: relative;
}

/* Dropdown style */
.dropdown.open .caret:before,
.dropdown.open .caret:after {
  border-color: transparent;
  border-style: solid;
  border-width: 7px 8px;
  display: block;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1001;
}
.dropdown.open .caret:before {
  border-bottom-color: #ccc;
  bottom: -17px;
  right: -8px;
}
.dropdown.open .caret:after {
  border-bottom-color: #fff;
  bottom: -18px;
  right: -8px;
}

/* Panels */
.panel-primary a:hover {
  color: #000000;
}
.panel-gray {
  border-color: #BFBFBF;
}
.panel-gray .panel-heading {
  background-color: #BFBFBF;
  border-color: #BFBFBF;
  color: #ffffff;
}
.panel-gray a {
  color: #BFBFBF;
}
.panel-gray a:hover {
  color: #000000;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green .panel-heading {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
  color: #000000;
}
.panel-lightgreen {
  border-color: #00604B;
}
.panel-lightgreen .panel-heading {
  background-color: #00604B;
  border-color: #00604B;
  color: #ffffff;
}
.panel-lightgreen a {
  color: #00604B;
}
.panel-lightgreen a:hover {
  color: #000000;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #000000;
}

.bottom-padding {
  height: 100px;
}
.btn-margin {
  margin-right: 10px;
}
.container {
  padding-top: 50px;
  position: fixed;
}
.errorClass { 
  border: 1px solid red; 
}
.icon {
  float: left;
  margin-left: 10px;
  margin-top: -38px;
  position: relative;
}
.infobox {
  width: 99%;
}
.load-more-link {
  border-radius: 23px;
  margin-top: 20px;
}
.main-container {
  display: table;
  float: left;
  margin-bottom: 100px;
  overflow: auto;
  width: 100%;
}
.marginexplore {
  margin-bottom: 10px;
}
.paddingdate {
  margin-left: -10px;
}
.select-align {
  margin-top: 10px;
}
.swal2-popup {
  font-size: 1.6rem !important;
}

/* Vertical align modal */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal-backdrop {
  z-index: -1;
}
.modal:before {
  display: inline-block;
  height: 100%;
  margin-right: -4px; /* Adjusts for spacing */
  vertical-align: middle;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

table.table-border {
  border: 1px solid #ccc;
  margin-top: 1px;
}
table.table-padding {
  margin: auto !important;
  margin-bottom: 20px;
  padding: 0 !important;
}
table.table-small {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 10px;
  width: 92%;
}
.zeroPadding {
  padding: 0 !important;
  background: #ffffff;
}