<IfModule mod_rewrite.c>
SetEnv HTTP_MOD_REWRITE On

RewriteEngine On

# Rewrite rules
# Exchange
RewriteRule ^exchange/?$ exchange.php [NC,L]
RewriteRule ^exchange/([^/]+)/?$ exchange.php?oid=$1 [L,QSA]
RewriteRule ^exchange/([^/]+)/([^/]+)/?$ exchange.php?oid=$1&uid=$2 [L,QSA]

# OneDrive
RewriteRule ^onedrive/?$ onedrive.php [NC,L]
RewriteRule ^onedrive/([^/]+)/?$ onedrive.php?oid=$1 [L,QSA]
RewriteRule ^onedrive/([^/]+)/([^/]+)/?$ onedrive.php?oid=$1&uid=$2 [L,QSA]

# SharePoint
RewriteRule ^sharepoint/?$ sharepoint.php [NC,L]
RewriteRule ^sharepoint/([^/]+)/?$ sharepoint.php?oid=$1 [L,QSA]
RewriteRule ^sharepoint/([^/]+)/([^/]+)/?$ sharepoint.php?oid=$1&sid=$2 [L,QSA]
RewriteRule ^sharepoint/([^/]+)/([^/]+)/([^/]+)/?$ sharepoint.php?oid=$1&sid=$2&cid=$3 [L,QSA]
RewriteRule ^sharepoint/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ sharepoint.php?oid=$1&sid=$2&cid=$3&type=$4 [L,QSA]
RewriteRule ^sharepoint/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ sharepoint.php?oid=$1&sid=$2&cid=$3&type=$4&fid=$5 [L,QSA]

# Teams
RewriteRule ^teams/?$ teams.php [NC,L]
RewriteRule ^teams/([^/]+)/?$ teams.php?oid=$1 [L,QSA]
RewriteRule ^teams/([^/]+)/([^/]+)/?$ teams.php?oid=$1&tid=$2 [L,QSA]

#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

# Disable directory browsing, multiviews and enable follow symlinks 
Options -Indexes -MultiViews +FollowSymLinks
</IfModule>

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

<Files readme.md>
Order allow,deny
Deny from all
</Files>

<Files LICENSE>
Order allow,deny
Deny from all
</Files>