<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="rule 1U" stopProcessing="true">
	<match url="^index/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/index.php"  />
</rule>
<rule name="rule 2U" stopProcessing="true">
	<match url="^exchange/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/exchange.php"  />
</rule>
<rule name="rule 3U" stopProcessing="true">
	<match url="^exchange/([^/]+)/?$"  />
	<action type="Rewrite" url="/exchange.php?oid={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 4U" stopProcessing="true">
	<match url="^exchange/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/exchange.php?oid={R:1}&amp;uid={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 5U" stopProcessing="true">
	<match url="^onedrive/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/onedrive.php"  />
</rule>
<rule name="rule 6U" stopProcessing="true">
	<match url="^onedrive/([^/]+)/?$"  />
	<action type="Rewrite" url="/onedrive.php?oid={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 7U" stopProcessing="true">
	<match url="^onedrive/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/onedrive.php?oid={R:1}&amp;uid={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 8U" stopProcessing="true">
	<match url="^sharepoint/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/sharepoint.php"  />
</rule>
<rule name="rule 9U" stopProcessing="true">
	<match url="^sharepoint/([^/]+)/?$"  />
	<action type="Rewrite" url="/sharepoint.php?oid={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 10U" stopProcessing="true">
	<match url="^sharepoint/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/sharepoint.php?oid={R:1}&amp;sid={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 11U" stopProcessing="true">
	<match url="^sharepoint/([^/]+)/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/sharepoint.php?oid={R:1}&amp;sid={R:2}&amp;cid={R:3}"  appendQueryString="true" />
</rule>
<rule name="rule 12U" stopProcessing="true">
	<match url="^sharepoint/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/sharepoint.php?oid={R:1}&amp;sid={R:2}&amp;cid={R:3}&amp;type={R:4}"  appendQueryString="true" />
</rule>
<rule name="rule 13U" stopProcessing="true">
	<match url="^teams/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/teams.php"  />
</rule>
<rule name="rule 14U" stopProcessing="true">
	<match url="^teams/([^/]+)/?$"  />
	<action type="Rewrite" url="/teams.php?oid={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 15U" stopProcessing="true">
	<match url="^teams/([^/]+)/([^/]+)/?$"  />
	<action type="Rewrite" url="/teams.php?oid={R:1}&amp;tid={R:2}"  appendQueryString="true" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>